/* custom */
html>body {
    color: #ff8667;
}

.main_bg>img:nth-child(1) {
    z-index: -10;
}

.top_bar_logo {
    top: 46px;
    left: 110px;
    z-index: 9999;
}

.top_bar_menu {
    top: 54px;
    left: 253px;
    z-index: 9999;
    width: 1530px;
}

.top_bar_menu>li>.ham {
    font-size: 30px;
    display: flex;
}

.top_bar_menu li:hover>a {
    color: #FFF7BC;
    transition: 0.3s linear;
}

.main_bg>.personal_text_1 {
    top: 1240px;
    left: 290px;
}

.main_bg>.personal_text_2 {
    top: 1240px;
    left: 1115px;
}

.main_bg>.personal_text_3 {
    top: 1502.83px;
    left: 290px;
}

.main_bg>.personal_text_4 {
    top: 1502.83px;
    left: 1115px;
}

.main_bg>.bran_concept_1 {
    top: 2177px;
    left: 340px;
    animation: motion_1 2.5s linear infinite alternate;
}

@keyframes motion_1 {
    0% {
        margin-top: -15px;
    }

    100% {
        margin-top: 15px;
    }
}

.main_bg>.bran_concept_2 {
    top: 2177px;
    left: 1020px;
    animation: motion_2 2.5s linear infinite alternate;
    animation-delay: .3s;
}

@keyframes motion_2 {
    0% {
        margin-top: -15px;
    }

    100% {
        margin-top: 15px;
    }
}

.main_bg>.bran_concept_3 {
    top: 2460px;
    left: 340px;
    animation: motion_3 2.5s linear infinite alternate;
    animation-delay: .5s;
}

@keyframes motion_3 {
    0% {
        margin-top: -15px;
    }

    100% {
        margin-top: 15px;
    }
}

.main_bg>.bran_concept_4 {
    top: 2460px;
    left: 1020px;
    animation: motion_4 2.5s linear infinite alternate;
    animation-delay: 1s;
}

@keyframes motion_4 {
    0% {
        margin-top: -15px;
    }

    100% {
        margin-top: 15px;
    }
}

.main_bg>.bran_color {
    top: 3340px;
    left: 945px;
}

.main_bg>.bran_typo {
    top: 3970px;
    left: 580px;
}

.main_bg>.pf {
    top: 4418px;
    left: 748px;
    width: 426px;
    height: 131px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px #eee;
}

.main_bg>.pf>a {
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s;
}

.btn:after {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background-color: #355255;
}

.btn-1:after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
}

.btn:hover:after {
    width: 100%;
    left: 0;
}

.btn-1:hover:after {
    left: -10%;
    width: 120%;
}

/* menu-2 */
label .menu {
    position: absolute;
    left: 1470px;
    top: -104px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #608CA5;
    border-radius: 50% 50% 50% 50%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 20px #eee;
}

label .hamburger {
    position: absolute;
    top: 116px;
    left: 50px;
    width: 30px;
    height: 4px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: 0.5s ease-in-out;
    background-color: #FF8667;
}

label .hamburger:after,
label .hamburger:before {
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}

label .hamburger:before {
    top: -10px;
    background-color: #FF8667;
}

label .hamburger:after {
    bottom: -10px;
    background-color: #FF8667;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: none;
    background-color: #355255;
    height: 560px;
    width: 301px;
    border-radius: 0;
}

label input:checked+.menu .hamburger {
    transform: rotate(45deg);
    background-color: white;
}

label input:checked+.menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0px;
    background-color: white;
}

label input:checked+.menu .hamburger:before {
    transform: rotate(90deg);
    top: 0px;
}

label input:checked+.menu+ul {
    opacity: 1;
}

label ul {
    z-index: 200;
    position: absolute;
    top: 100px;
    left: 1520px;
    opacity: 0;
    transition: .25s 0s ease-in-out;
    color: white;
}

.top_bar_menu .ham {
    left: calc(50% - 740px);
}